.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* flex-direction: row;
    flex-direction: column;
    direcao row e columns 

    Alinhamento e Espaçamento do conteúdo horizontal
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between; 
    justify-content: space-evenly; 

    Alinhamento e Espaçamento do conteúdo vertical
    align-items: flex-end; 
    align-items: flex-start;
    align-items: center;
    align-items: stretch; */

    gap: 23px;
}

h1 {
    display: flex;
    align-items: center;
}

.cb-principal {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 8%;
}
.ban {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px 8%;
    background-color: blanchedalmond;

.ban-c, ban-img {
        flex: 1;
    }

    .ban-img {
        margin:
            0;
    }

    .ban-img img {
        width: 100%;
        display: block;
    }
}

.lista-cartao {
display: flex;
gap: 23px;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
}
.lista-cartao > li {
flex: 1;
min-width: 220px;
background-color: sienna;
}

.cont {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 60px 8%;
    align-items: center;
}

.cont-c, .cont form {
    flex: 1;
}




















* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5e8d6;
    color: #111;
}

header {
    background-color: #2d180e;
    color: white;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

section {
    padding: 50px 60px;
    border-bottom: 1px solid #555;
}

h2 {
    font-size: 32px;
    margin: 15px 0;
}

p {
    margin: 10px 0;
}

button {
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #f5e8d6;
    border: 1px solid #c96b16;
    color: #c96b16;
}

img {
    background-color: #d8d8d8;
    width: 300px;
    height: 150px;
    display: block;
    margin: 20px;
}

#inicio {
    min-height: 320px;
}

#sobre {
    min-height: 250px;
}

#produtos {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

#produtos h2 {
    width: 100%;
}

article {
    width: 30%;
}

article img {
    width: 100%;
    height: 130px;
    margin: 0;
}

article h3 {
    border: 1px solid #c96b16;
    padding: 30px;
    text-align: center;
    margin-top: 10px;
}

#contato {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

input {
    padding: 12px;
    margin: 8px 0;
    border: none;
    background-color: #d8d8d8;
}

form button {
    background-color: #c96b16;
    color: black;
}

footer {
    background-color: #f5e8d6;
    color: #2d180e;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

footer nav a {
    color: #2d180e;
}